.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.flex {
  display: flex;
  gap: 4px;
}

.appLogo {
  position: relative;
  filter: grayscale(1) brightness(10);
}

.appTitle {
  letter-spacing: -1px;
  font-weight: 700;
}

.mainColor {
  color: var(--main-color);
}

.subColor {
  color: var(--sub-color);
}

.navMenu {
  display: flex;
  gap: 24px;
  color: white;
  padding: 0 8px;
  .menu {
    padding: 8px 0;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.navSubMenu {
  display: flex;
  gap: 16px;
  background-color: white;
  padding: 0 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  .menu {
    padding: 8px 0;
    transition: color 0.25s;
    &.active {
      color: var(--main-color);
    }
    &:hover {
      color: var(--main-color);
    }
  }
}

.socialArea {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 260px;
  .socialBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: 38px;
    padding: 4px 16px;
    img {
      margin-right: 8px;
    }
  }
}

.inputArea {
  display: flex;
  .icon {
    margin-left: -24px;
    position: relative;
    right: 6px;
    top: 6px;
    width: 24px;
  }
}

.headerContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footerContents {
  max-width: var(--max-width);
  margin: auto;
  padding: 16px;
  border-top: 1px solid lightgray;
  .description {
    display: flex;
    flex-direction: column;
  }
}

.loginBtn {
  font-weight: bold;
  background-color: var(--sub-color);
  color: white;
  border: none;
}

.lngDialog {
  .title {
    font-size: 0.85rem;
    font-weight: bold;
  }
  .selectBtn {
    display: inline;
    .checked {
      color: yellowgreen;
    }
  }
}

.contractInfo {
  padding: 3rem 0;
  text-align: center;
  font-weight: bold;
  white-space: break-spaces;
  .title {
    color: var(--main-color);
    font-size: 1.4rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
}

.contractGroup {
  display: flex;
  gap: 16px;
  justify-content: center;
  .contract {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2rem 1.5rem;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .chip {
        color: var(--main-color);
        border-color: var(--main-color);
        border-width: 2px;
      }
    }
    .price {
      border-bottom: 1px solid lightgray;
      padding: 1rem 0;
      font-size: 2rem;
      font-weight: 700;
      .subPrice {
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 8px;
        opacity: 0.8;
      }
    }
    .info {
      margin-bottom: 1rem;
    }
    .selectBtn {
      background-color: var(--main-color);
      color: white;
      font-weight: 700;
      width: 100%;
      margin-top: auto;
      padding: 0.75rem;
    }
  }
}

.viewBackground {
  max-width: unset;
  padding: unset;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('https://cdn.wallpapersafari.com/41/42/TwPVCD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .viewBackgroundGlow {
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-glow);
    .viewer {
      display: flex;
      width: 96%;
      height: 92%;
      gap: 1rem;
      .left {
        flex: 1;
        padding: 1rem;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        .top {
          .logo {
            filter: invert(1);
          }
        }
        .bottom {
          display: flex;
          align-items: center;
          gap: 2rem;
          .waitingInfo {
            display: flex;
            flex-direction: column;
            .title {
              font-size: 2rem;
            }
            .value {
              font-size: 4rem;
              font-weight: 700;
            }
          }
        }
      }
      .right {
        flex: 1;
        background-color: white;
        padding: 1rem;
        border-radius: var(--border-radius);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
      }
    }
  }
}

.dialogPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  input {
    width: 50px;
    height: 82px;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
.dialogBtn {
  margin-top: 20px;
  padding: 16px 24px;
  border-radius: unset;
  width: 100%;
  &.active {
    background-color: var(--main-color);
    color: white;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .navMenu {
    justify-content: center;
    padding: 0;
  }
  .navSubMenu {
    justify-content: center;
    padding: 0;
  }
  .contractGroup {
    flex-direction: column;
    .contract {
      width: 100%;
    }
  }
  .viewBackground {
    .viewer {
      flex-direction: column;
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
