.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.flex {
  display: flex;
  gap: 4px;
}

.appLogo {
  position: relative;
  filter: grayscale(1) brightness(10);
}

.appTitle {
  letter-spacing: 4px;
  font-weight: 700;
}

.mainColor {
  color: var(--main-color);
}

.navMenu {
  display: flex;
  gap: 24px;
  color: white;
  padding: 0 8px;
  .menu {
    padding: 8px 0;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.navSubMenu {
  display: flex;
  gap: 16px;
  background-color: white;
  padding: 0 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  .menu {
    padding: 8px 0;
    transition: color 0.25s;
    &.active {
      color: var(--main-color);
    }
    &:hover {
      color: var(--main-color);
    }
  }
}

.socialArea {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 260px;
  .socialBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: 38px;
    padding: 4px 16px;
    img {
      margin-right: 8px;
    }
  }
}

.inputArea {
  display: flex;
  .icon {
    margin-left: -24px;
    position: relative;
    right: 6px;
    top: 6px;
    width: 24px;
  }
}

.contents {
  max-width: var(--max-width);
  margin: auto;
  padding: 16px;
}
.headerContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footerContents {
  max-width: var(--max-width);
  margin: auto;
  padding: 16px;
  border-top: 1px solid lightgray;
  .description {
    display: flex;
    flex-direction: column;
  }
}

.loginBtn {
  font-weight: bold;
  background-color: var(--sub-color);
  color: white;
  border: none;
}

.lngDialog {
  .title {
    font-size: 0.85rem;
    font-weight: bold;
  }
  .selectBtn {
    display: inline;
    .checked {
      color: yellowgreen;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .navMenu {
    justify-content: center;
    padding: 0;
  }
  .navSubMenu {
    justify-content: center;
    padding: 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
